.post-details
    color: var(--markdown-color)
    font-size: 15px
    width: 100%

.post-title
    margin-bottom: 5px
    h1 
        font-size: 1.7em
        line-height: 1.2
        padding: 5px 0
        margin-bottom: 5px
        margin-block: 0

.post-meta
    margin-bottom: 20px
    font-size: 13px
    color: var(--markdown-color)

.post-content
    h1
    h2
    h3
    h4
    h5
    h6
        margin-block: 0
        margin-inline: 0
        margin-top: 20px
        margin-bottom: 15px
        line-height: 1.2em
    h1
        font-size: 1.4em
    h2
        font-size: 1.3em
    h3
        font-size: 1.2em
    h4
        font-size: 1.1em
    h5
        font-size: 1em
    h6
        font-size: 0.9em
    p
        margin-block: 0
        line-height: 1.6em
        &:not(:last-child)
                margin: 0 0 20px
    img
        max-width: 100%
    .video-container
        background: #000
        border-radius: 4px
        overflow: hidden
    iframe,
    .video-container iframe
        width: 100%
        height: 100vh
        max-height: 360px
        margin: 12px 0
    blockquote
        margin-block: 0
        margin-inline: 0
        padding:3px 10px
        background-color: var(--bg)
        border-left: 2px solid var(--markdown-color)
        // box-shadow: 1px 1px 2px var(--markdown-color)
        &>p
            margin: 0
    table
        width: 100%
        text-align: center
        border-spacing: 0
    table th
        padding: 5px 0
        border-bottom: 2px solid var(--line)
    table tr:nth-child(odd) td
        padding: 5px 0
        border-bottom: 1px solid var(--line)
        background: var(--oddbg)
    table tr:nth-child(even) td
        padding: 5px 0
        border-bottom: 1px solid var(--line)
        background: var(--evenbg)
    code
    kbd
    pre
    samp
        font-family: monospace
        font-size: 1em

    kbd
        display inline-block
        padding 3px 5px
        font 14px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace
        line-height 1.2em
        color #24292f
        vertical-align middle
        background-color #f6f8fa
        border solid 1px rgba(175,184,193,0.2)
        border-bottom-color rgba(175,184,193,0.2)
        border-radius 6px
        box-shadow inset 0 -1px 0 rgba(175,184,193,0.2)

    acronym
        text-decoration: underline
    sub
        bottom: -0.25em
    sup
        top: -0.5em
    mark
        background: #f8ff9a
    a
        color: #0084ff
        text-decoration: underline
        &:hover
            text-decoration: none
    dl 
        padding: 0
    dl dt 
        padding: 0
        margin-top: 16px
        font-size: 1em
        font-style: italic
        font-weight: 600
    dl dd 
        padding: 0 10px
        margin-bottom: 16px




