.post-meta {
  margin-bottom: 20px;
  color: var(--markdown-color);
}
.post-date {
  font-size: 13px;
  margin: 3px 0;
}
.post-tags {
  font-size: 13px;
  margin-bottom: 3px;
}
.tag-item {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}
.dot-line {
  margin-top: 30px;
  border-bottom: 1px #535353 dashed;
  width: 25%;
}
