<main class="main-body">
  <!-- <h2 class="page-title">
    <%= page.title %>
  </h2> -->
  <div class="tag-list">
    <%- tagcloud({
      min_font: 15,
      max_font: 20,
      amount: 999,
      orderby: "random",
    }) %>
  </div>
</main>